
/**HOME**/
:root {
  --primary-white: #ffff;
  --primary-green: #0E250F;
  --primary-yellow:#ffaa00;
  --primary-black: #000000;
  --primary-red: #ef4035;
  --primary-dark: rgba(255,255,255, 0);
  --primary-light: #f8f9fa;
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
}

/**NAV LINKS***/
.navbar-custom {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav a.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.038rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}

.header-wrapper {
  position: relative;
  background: url(altumcode-XMFZqrGyV-Q-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 94.6vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

.type-text {
  font-size: 2rem;
  color: var(--primary-white);
}

.btn-main-offer {
  border: 1px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
}

.btn-main-offer {
  margin-top: 20px;
  margin-bottom: 400px;
  color: var(--primary-black);
  background-color: var(--primary-white);
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-black);  
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/**About Me**/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid hr {
  border-top: 3px dotted black;
  width: 50%;
  margin: auto;
}

/**CV**/

.CV-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/**Contact**/

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


